Please answer the questions below based on the data provided:

- Plot daily sales for all 50 weeks.
- It looks like there has been a sudden change in daily sales. What date did it occur?
- Is the change in daily sales at the date you selected statistically significant? If so, what is the p-value?
- Does the data suggest that the change in daily sales is due to a shift in the proportion of male-vs-female customers? Please use plots to support your answer (a rigorous statistical analysis is not necessary).
- Assume a given day is divided into four dayparts: 
    - night (12:00AM - 6:00AM), 
    - morning (6:00AM - 12:00PM), 
    - afternoon (12:00PM - 6:00PM)
    - evening (6:00PM - 12:00AM).
    - What is the percentage of sales in each daypart over all 50 weeks?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

# 1. Plot daily sales for all 50 weeks

In [2]:
path = r"C:\Users\Wen\OneDrive\Documents\Machine Learning\Project\Sales_Data_Analysis\datasets"
file_pattern = os.path.join(path, "sales_week_starting_*.csv")

csv_files  = glob.glob(file_pattern)

data_frames = []

for file in csv_files:
    df = pd.read_csv(file)
    print(df.head())
    data_frames.append(df)

             sale_time purchaser_gender
0  2012-10-01 01:42:22           female
1  2012-10-01 02:24:53           female
2  2012-10-01 02:25:40           female
3  2012-10-01 02:30:42           female
4  2012-10-01 02:51:32             male
             sale_time purchaser_gender
0  2012-10-08 00:38:48           female
1  2012-10-08 00:50:35           female
2  2012-10-08 01:22:49           female
3  2012-10-08 01:37:24           female
4  2012-10-08 01:45:22             male
             sale_time purchaser_gender
0  2012-10-15 01:22:12             male
1  2012-10-15 01:26:36             male
2  2012-10-15 01:40:15           female
3  2012-10-15 01:55:55           female
4  2012-10-15 02:00:33           female
             sale_time purchaser_gender
0  2012-10-22 01:07:17           female
1  2012-10-22 01:58:49           female
2  2012-10-22 02:23:55           female
3  2012-10-22 02:26:58           female
4  2012-10-22 02:31:35           female
             sale_time purchaser_gender
0  2012-10-29 01:19:02           female
1  2012-10-29 01:34:10           female
2  2012-10-29 02:39:00           female
3  2012-10-29 02:46:56           female
4  2012-10-29 03:01:43           female
             sale_time purchaser_gender
0  2012-11-05 01:03:52           female
1  2012-11-05 01:17:49           female
2  2012-11-05 01:37:42           female
3  2012-11-05 01:43:03           female
4  2012-11-05 01:54:20           female
             sale_time purchaser_gender
0  2012-11-12 01:04:01           female
1  2012-11-12 01:19:33             male
2  2012-11-12 01:44:34           female
3  2012-11-12 01:47:51           female
4  2012-11-12 02:05:17           female
             sale_time purchaser_gender
0  2012-11-19 01:01:34           female
1  2012-11-19 01:07:33             male
2  2012-11-19 01:20:14           female
3  2012-11-19 01:36:45           female
4  2012-11-19 01:58:47             male
             sale_time purchaser_gender
0  2012-11-26 00:47:38           female
1  2012-11-26 01:24:56           female
2  2012-11-26 01:36:15             male
3  2012-11-26 01:38:17           female
4  2012-11-26 02:04:40           female
             sale_time purchaser_gender
0  2012-12-03 00:19:28           female
1  2012-12-03 01:35:39           female
2  2012-12-03 02:04:15           female
3  2012-12-03 02:31:33           female
4  2012-12-03 02:32:47           female
             sale_time purchaser_gender
0  2012-12-10 00:19:54           female
1  2012-12-10 00:46:11             male
2  2012-12-10 01:29:36           female
3  2012-12-10 01:42:50           female
4  2012-12-10 01:52:33           female
             sale_time purchaser_gender
0  2012-12-17 01:27:24             male
1  2012-12-17 01:31:49             male
2  2012-12-17 02:02:03             male
3  2012-12-17 02:15:25             male
4  2012-12-17 02:22:18           female
             sale_time purchaser_gender
0  2012-12-24 01:06:36             male
1  2012-12-24 01:24:41           female
2  2012-12-24 02:27:53           female
3  2012-12-24 02:36:06             male
4  2012-12-24 02:36:34             male
             sale_time purchaser_gender
0  2012-12-31 00:50:18           female
1  2012-12-31 01:03:22             male
2  2012-12-31 01:47:11           female
3  2012-12-31 01:48:27           female
4  2012-12-31 02:18:06             male
             sale_time purchaser_gender
0  2013-01-07 02:14:07           female
1  2013-01-07 02:57:53             male
2  2013-01-07 02:59:49           female
3  2013-01-07 03:02:53             male
4  2013-01-07 03:27:36           female
             sale_time purchaser_gender
0  2013-01-14 01:40:08           female
1  2013-01-14 02:15:31             male
2  2013-01-14 02:30:29           female
3  2013-01-14 02:32:33           female
4  2013-01-14 02:59:13           female
             sale_time purchaser_gender
0  2013-01-21 00:37:35           female
1  2013-01-21 01:26:47           female
2  2013-01-21 01:30:29           female
3  2013-01-21 01:59:18           female
4  2013-01-21 02:13:22             male
             sale_time purchaser_gender
0  2013-01-28 01:12:43             male
1  2013-01-28 01:34:03           female
2  2013-01-28 01:49:25             male
3  2013-01-28 01:53:03           female
4  2013-01-28 02:08:07             male
             sale_time purchaser_gender
0  2013-02-04 01:22:39             male
1  2013-02-04 02:06:29           female
2  2013-02-04 02:25:23           female
3  2013-02-04 02:50:32           female
4  2013-02-04 02:53:42           female
             sale_time purchaser_gender
0  2013-02-11 01:08:35             male
1  2013-02-11 01:35:04           female
2  2013-02-11 02:00:29           female
3  2013-02-11 02:08:28           female
4  2013-02-11 02:09:32           female
             sale_time purchaser_gender
0  2013-02-18 01:27:13           female
1  2013-02-18 01:56:12           female
2  2013-02-18 02:01:08           female
3  2013-02-18 02:06:09             male
4  2013-02-18 02:16:40           female
             sale_time purchaser_gender
0  2013-02-25 00:40:45             male
1  2013-02-25 00:56:52             male
2  2013-02-25 01:18:00           female
3  2013-02-25 01:20:00             male
4  2013-02-25 01:45:08           female
             sale_time purchaser_gender
0  2013-03-04 01:35:02           female
1  2013-03-04 01:39:12             male
2  2013-03-04 01:43:29           female
3  2013-03-04 02:01:12           female
4  2013-03-04 02:07:22             male
             sale_time purchaser_gender
0  2013-03-11 01:08:15             male
1  2013-03-11 01:40:19           female
2  2013-03-11 01:44:27           female
3  2013-03-11 01:54:50             male
4  2013-03-11 02:15:52           female
             sale_time purchaser_gender
0  2013-03-18 01:07:36           female
1  2013-03-18 01:22:32           female
2  2013-03-18 01:43:13           female
3  2013-03-18 01:50:31             male
4  2013-03-18 02:16:14             male
             sale_time purchaser_gender
0  2013-03-25 00:27:49             male
1  2013-03-25 01:09:16             male
2  2013-03-25 01:13:03           female
3  2013-03-25 01:57:35             male
4  2013-03-25 01:59:16           female
             sale_time purchaser_gender
0  2013-04-01 01:07:41             male
1  2013-04-01 01:25:01             male
2  2013-04-01 01:34:57           female
3  2013-04-01 02:11:18           female
4  2013-04-01 02:11:38             male
             sale_time purchaser_gender
0  2013-04-08 01:25:46             male
1  2013-04-08 01:33:35           female
2  2013-04-08 01:37:46           female
3  2013-04-08 01:57:02           female
4  2013-04-08 02:12:08           female
             sale_time purchaser_gender
0  2013-04-15 01:09:39             male
1  2013-04-15 01:22:19             male
2  2013-04-15 02:05:48             male
3  2013-04-15 02:12:49             male
4  2013-04-15 02:54:23             male
             sale_time purchaser_gender
0  2013-04-22 00:29:40             male
1  2013-04-22 00:34:07             male
2  2013-04-22 01:00:37             male
3  2013-04-22 01:26:59             male
4  2013-04-22 02:07:53             male
             sale_time purchaser_gender
0  2013-04-29 01:15:27             male
1  2013-04-29 01:30:38           female
2  2013-04-29 01:52:57             male
3  2013-04-29 02:08:15             male
4  2013-04-29 02:09:34             male
             sale_time purchaser_gender
0  2013-05-06 01:12:05             male
1  2013-05-06 01:22:00           female
2  2013-05-06 01:40:53             male
3  2013-05-06 01:51:02           female
4  2013-05-06 01:54:41             male
             sale_time purchaser_gender
0  2013-05-13 01:24:42             male
1  2013-05-13 01:56:28             male
2  2013-05-13 02:10:18             male
3  2013-05-13 02:14:07             male
4  2013-05-13 02:19:17             male
             sale_time purchaser_gender
0  2013-05-20 00:52:58           female
1  2013-05-20 01:13:17           female
2  2013-05-20 01:22:10             male
3  2013-05-20 01:28:10             male
4  2013-05-20 01:36:14             male
             sale_time purchaser_gender
0  2013-05-27 00:45:32             male
1  2013-05-27 01:18:34             male
2  2013-05-27 01:19:17           female
3  2013-05-27 01:31:55           female
4  2013-05-27 01:55:29           female
             sale_time purchaser_gender
0  2013-06-03 00:32:44             male
1  2013-06-03 01:21:08             male
2  2013-06-03 01:41:29           female
3  2013-06-03 01:43:06             male
4  2013-06-03 01:43:23           female
             sale_time purchaser_gender
0  2013-06-10 01:03:10             male
1  2013-06-10 01:15:00             male
2  2013-06-10 01:36:07             male
3  2013-06-10 01:40:03             male
4  2013-06-10 01:41:30             male
             sale_time purchaser_gender
0  2013-06-17 01:22:16             male
1  2013-06-17 01:30:33           female
2  2013-06-17 01:47:49           female
3  2013-06-17 01:59:57             male
4  2013-06-17 02:11:18           female
             sale_time purchaser_gender
0  2013-06-24 00:42:17             male
1  2013-06-24 00:51:31             male
2  2013-06-24 01:14:20             male
3  2013-06-24 01:23:18           female
4  2013-06-24 01:31:36           female
             sale_time purchaser_gender
0  2013-07-01 00:52:06           female
1  2013-07-01 00:56:30             male
2  2013-07-01 01:16:03           female
3  2013-07-01 01:36:30             male
4  2013-07-01 01:41:54             male
             sale_time purchaser_gender
0  2013-07-08 01:08:24           female
1  2013-07-08 01:58:08           female
2  2013-07-08 02:00:56           female
3  2013-07-08 02:11:13             male
4  2013-07-08 02:16:03           female
             sale_time purchaser_gender
0  2013-07-15 00:25:01           female
1  2013-07-15 00:41:52           female
2  2013-07-15 01:22:20             male
3  2013-07-15 02:01:55             male
4  2013-07-15 02:46:15             male
             sale_time purchaser_gender
0  2013-07-22 00:41:28             male
1  2013-07-22 01:23:20           female
2  2013-07-22 01:26:22           female
3  2013-07-22 01:31:39             male
4  2013-07-22 01:46:07             male
             sale_time purchaser_gender
0  2013-07-29 00:59:36             male
1  2013-07-29 01:08:55             male
2  2013-07-29 01:11:36             male
3  2013-07-29 02:09:54             male
4  2013-07-29 02:25:56           female
             sale_time purchaser_gender
0  2013-08-05 00:34:35             male
1  2013-08-05 00:56:19           female
2  2013-08-05 00:57:18           female
3  2013-08-05 01:30:25             male
4  2013-08-05 01:39:08             male
             sale_time purchaser_gender
0  2013-08-12 01:10:47             male
1  2013-08-12 02:07:00           female
2  2013-08-12 02:09:54             male
3  2013-08-12 02:16:23             male
4  2013-08-12 02:23:33           female
             sale_time purchaser_gender
0  2013-08-19 00:40:00             male
1  2013-08-19 01:08:30             male
2  2013-08-19 01:31:54           female
3  2013-08-19 01:41:28           female
4  2013-08-19 01:59:33             male
             sale_time purchaser_gender
0  2013-08-26 00:56:37           female
1  2013-08-26 01:02:33           female
2  2013-08-26 01:37:06             male
3  2013-08-26 02:30:35             male
4  2013-08-26 02:34:18             male
             sale_time purchaser_gender
0  2013-09-02 01:25:59             male
1  2013-09-02 01:51:36           female
2  2013-09-02 01:58:55           female
3  2013-09-02 02:23:43             male
4  2013-09-02 02:25:38             male
             sale_time purchaser_gender
0  2013-09-09 00:37:24             male
1  2013-09-09 01:14:55             male
2  2013-09-09 01:42:38             male
3  2013-09-09 02:00:36             male
4  2013-09-09 02:03:36           female

In [3]:
combined_df = pd.concat(data_frames) # combine all dataframes into a single 
print(combined_df)
print(combined_df.dtypes) # since the sale_time is object we need to convert to datatime

sale_day = pd.to_datetime(combined_df['sale_time'])
print(sale_day.dtypes)

                sale_time purchaser_gender
0     2012-10-01 01:42:22           female
1     2012-10-01 02:24:53           female
2     2012-10-01 02:25:40           female
3     2012-10-01 02:30:42           female
4     2012-10-01 02:51:32             male
...                   ...              ...
4994  2013-09-15 23:30:51           female
4995  2013-09-15 23:42:02           female
4996  2013-09-15 23:43:24             male
4997  2013-09-15 23:43:32             male
4998  2013-09-15 23:48:47             male

[204329 rows x 2 columns]
sale_time           object
purchaser_gender    object
dtype: object
datetime64[ns]

In [85]:
daily_sales = sale_day.groupby(sale_day.dt.floor('d')).size().reset_index(name='sales_amount') 
daily_sales.head()

   sale_time  sales_amount
0 2012-10-01           514
1 2012-10-02           482
2 2012-10-03           499
3 2012-10-04           546
4 2012-10-05           476

In [4]:
# Plot the daily sales
plt.figure(figsize=(12, 6))
plt.plot(daily_sales['date'], daily_sales['sales'], marker='o')
plt.title('Daily Sales for All 50 Weeks')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.grid(True)
plt.show

NameError: name 'daily_sales' is not defined